@charset "utf-8"
@import "@fontsource/dm-sans"
@import "@fontsource/dm-mono"
$navWidth: 260px

/**********************Initial variables - Colors *******************/
//black
$black: #000000
$black-40: rgba(0,0,0,0.4)
$black-20: rgba(0,0,0,0.2)
$black-10: rgba(0,0,0,0.1)
$black-6: rgba(0,0,0,0.06)

//white
$white: #FFFFFF
$white-60: rgba(255,255,255, 0.6)
$white-40: rgba(255,255,255, 0.4)
$white-20: rgba(255,255,255, 0.2)

//grey:
$grey-primary: #939393
$grey-dark: #6D6D6D
$grey-secondary: #DDDDDD
$grey-light: #DDDDDD
$grey-tertiary: #EEEEEE

//purple
$purple-primary: #7464F0
$purple-dark: #000E64
$purple-secondary: #9B8FF9
$purple-tertiary: #DFDBFF
$purple-background: #F0F0FE

//green
$green-primary: #DCFABF
$green-dark: #A4C881

//yellow
$yellow-primary: #D6D71C
$yellow-dark: #695A0D
$yellow-secondary: #FFE780
$yellow-tertiary: #FEFFDD

//other
$success-green: #18AA01
$warning-orange: #F26300
$error-red: #E30C0C

/*********************Initial variables -  Font Sizes********************/
$bodyBg: $white
$bodyColor: $white
$link: $white
$primary: $purple-primary
$light: $purple-tertiary
$family-sans-serif: "DM Sans"
$family-monospace: "DM Mono"
$size-1: 4rem
$size-2: 3.5rem
$gap: 40px
$speed: 300ms

/*********************Derived variables -  Component Colors********************/
$primary: $purple-primary
$info: $green-primary
$success: $success-green
$warning: $warning-orange
$danger: $error-red
$border: $grey-dark
$background: $bodyBg
$text: $black
$text-invert: $white
$link: $black
$link-hover: $purple-dark
$link-focus: $purple-dark

// sets a max width of 960px on .container
$widescreen-enabled: false
$fullhd-enabled: false

/*********************Component variables -  Body********************/
$body-background-color: $bodyBg
$control-border-width: 1px
$body-font-size: 14px

/*********************Component variables -  Input********************/
$input-border-width: 1px
$input-focus-border-color: transparent
$input-border-color: black
$input-shadow: none
$input-color: black

/*********************Component variables -  Button********************/

$button-font: DM Sans
$button-font-weight: 700
$button-focus-box-shadow-size: 0
$button-hover-color: $purple-primary

/*********************Component variables -  Modal********************/
$modal-background-background-color: rgba(1, 1, 1, 0.5)
$modal-content-width: 430px
.modal-content
  max-height: calc(100vh - 210px)
  overflow-y: auto !important
  overflow-x: hidden !important
.modal-safe-name
  color: $purple-primary
  font-weight: 500
  letter-spacing: -0.01em
.modal-title
  font-size: 40px
  font-weight: 500
  letter-spacing: -0.03em
.success-modal-image
  width: 156px
  border-radius: 8px
.success-modal-background
  border-radius: 8px
  background-color: #F0F0FE
  position: relative
  background-image: url(/img/purple-V4x.png)
  background-size: 16em
  background-position: 100% 0px
  background-repeat: no-repeat

/********************* Bulma imports ********************/
@import '~bulma/sass/utilities/_all.sass'
@import '~bulma/sass/base/_all.sass'
@import '~bulma/sass/grid/_all.sass'
@import '~bulma/sass/elements/button.sass'
@import '~bulma/sass/elements/container.sass'
@import '~bulma/sass/elements/progress.sass'
@import '~bulma/sass/elements/title.sass'
@import '~bulma/sass/components/navbar.sass'
@import '~bulma/sass/components/dropdown.sass'
@import '~bulma/sass/components/modal.sass'
@import '~bulma/sass/form/_all.sass'
@import '~bulma/sass/layout/section.sass'
@import '~bulma/sass/helpers/color.sass'
@import '~bulma/sass/helpers/spacing.sass'
@import '~bulma/sass/helpers/visibility.sass'
@import '~bulma/sass/helpers/typography.sass'
@import '~bulma/sass/helpers/flexbox.sass'

*
  box-sizing: border-box

/********************* Main app containers ********************/
html
  overflow-y: auto
  height: 100%
body
  height: 100%
  margin: 0
  font-family: "DM Sans", Sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.sidebar
  position: fixed
  width: $navWidth
  background: $purple-background
.body
  width: calc(100% - #{$navWidth})
  min-height: 100vh
  position: relative
  left: $navWidth
code
  color: $bodyBg
.title
  font-size: 4rem
  font-weight: 500
h1
  font-size: 2.5rem
  font-weight: 500
h2
  font-size: 1.5rem
  font-weight: 400

/********************* Custom utility css - Dimension ********************/
.screen-height
  height: 100vh
.full-height
  height: 100%

/********************* Custom utility css - Text ********************/
.has-text-red
  color: $error-red
.has-text-grey
  color: $grey-primary
.has-text-purple
  color: $purple-primary
.is-size-4
  font-size: 1.8rem !important
.is-size-6
  font-size: .9rem !important
.has-text-heighlight
  font-family: $family-monospace
.has-text-truncate
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

/********************* Custom utility css - Border ********************/

.border
  border: 1px solid black
  &-none
    border: none
  &-light
    border: 1px solid $grey-light
    &-top
      border-top: 1px solid $grey-light
    &-bottom
      border-bottom: 1px solid $grey-light
    &-right
      border-right: 1px solid $grey-light
  &-success
    border: 1px solid $success-green
  &-error
    border: 1px solid $error-red

/********************* Custom utility css - Border radius********************/
.rounded-sm
  border-radius: 8px
.rounded-lg
  border-radius: 20px
.rounded-full
  border-radius: 50%

/********************* Custom utility css - Backgrounds ********************/
.has-background-white-rounded
  background-color: $white
  border-top-left-radius: 30px
.has-background-transparent-black
  background: $black-6
.has-background-purple
  background: $purple-background
.has-background-primary-purple
  background: $purple-primary
.has-background-secondary-purple
  background: $purple-secondary
.has-background-tertiary-purple
  background: $purple-tertiary

/********************* Custom utility css - Button ********************/
.button
  height: auto !important
  padding: 16px 32px
  font-size: 0.875rem
  border: none
  box-shadow: none
  border-radius: 8px !important
.button.disabled
  animation: none !important
.button.is-small
  padding: 8px 12px
  font-size: 0.875rem
  border-radius: 8px !important
.button.with-icon>svg
  margin-left: 12px
.button.is-small.with-icon>svg
  transform: scale(0.7)

//primary button
@keyframes primary-button-animation 
  0% 
    background-color: $purple-primary
  100%
    background-color: $purple-dark
.button.is-primary
  background-color: $purple-primary
  color:$white

.button.is-primary:hover, .button.is-primary:focus
  background-color: $purple-dark
  box-shadow: none
.button.is-primary:hover
  animation-duration: 300ms
  animation-name: primary-button-animation
.button.is-primary.disabled
  background:$grey-secondary
  color:$black

//secondary button
@keyframes secondary-button-animation 
  0% 
    background-color: $purple-background
  100%
    background-color: $purple-tertiary
.button.is-secondary
  background-color: $purple-background
  color:$purple-primary
.button.is-secondary:hover, .button.is-secondary:focus
  background-color: $purple-tertiary
  box-shadow: none
.button.is-secondary:hover
  animation-duration: 300ms
  animation-name: secondary-button-animation
.button.is-secondary.disabled
  background:$grey-secondary
  color:$black

//tertiary button
@keyframes tertiary-button-animation 
  0% 
    background-color: $green-primary
  100%
    background-color: $green-dark
.button.is-tertiary
  background-color: $green-primary
  color:$black
.button.is-tertiary:hover, .button.is-tertiary:focus
  background-color: $green-dark
  box-shadow: none
.button.is-tertiary:hover
  animation-duration: 300ms
  animation-name: tertiary-button-animation
.button.is-tertiary.disabled
  background:$grey-tertiary
  color:$black

//border button
@keyframes border-button-animation 
  0% 
    border: 1px solid $purple-primary
    color: $purple-primary
  100%
    border: 1px solid $purple-dark
    color: $purple-dark
.button.is-border
  background-color: $white
  color: $purple-primary
  border: 1px solid $purple-primary
.button.is-border:hover, .button.is-border:focus
  border: 1px solid $purple-dark
  color: $purple-dark
  box-shadow: none
.button.is-border:hover
  animation-duration: 300ms
  animation-name: border-button-animation
.button.is-border.disabled
  background:$white
  color:$grey-dark

//transparent button
@keyframes transparent-button-animation 
  0% 
    color: $purple-primary
  100%
    color: $purple-dark
.button.is-transparent
  background-color: transparent
  color: $purple-primary
  padding-top: 0
  padding-bottom: 0
.button.is-transparent:hover, .button.is-transparent:focus
  color: $purple-dark
  box-shadow: none
.button.is-transparent:hover
  animation-duration: 300ms
  animation-name: transparent-button-animation
.button.is-transparent.disabled
  color:$grey-dark

//nav button
@keyframes nav-button-animation 
  0% 
    background-color: transparent
  100%
    background-color: $black-6
.button.is-nav
  color: $grey-dark
  font-weight: 500
  padding: 1rem
.button.is-nav:hover:not(.is-focused)
  animation-duration: 300ms
  animation-name: nav-button-animation
  background-color: $black-6
.button.is-nav.is-focused
  background-color: $purple-background
  color: $purple-primary
/********************* Custom utility css - Link ********************/
.is-link
  color: $black
.is-link:hover, .is-link:visited
  color: $purple-dark
  cursor: pointer
.is-link.disabled
  color: $grey-secondary
/********************* Custom utility css - Label ********************/
label
  user-select: none

/********************* Custom utility css - Input ********************/
input
  font-size: 1rem
input,
input:focus
  border-width: 1px
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0
input:focus-visible
  outline: none

/********************* Custom utility css - Dropdown ********************/
.dropdown-item
  padding: 1rem
  line-height: 1em
  height: auto

/********************* Custom utility css - Flex ********************/
.flex-1
  flex: 1 0 0
.flex-2
  flex: 2 0 0
.flex-3
  flex: 3 0 0

/********************* Custom utility css - Animation ********************/
@keyframes purple-background-animation 
  0% 
    background-color: $white
  100%
    background-color: $purple-background
.has-purple-background-hover-animation:hover
  animation-name: purple-background-animation !important
  animation-duration: 300ms !important
  background-color: $purple-background

/********************* Custom utility css - Misc ********************/
.has-shadow
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05)
.pointer
  cursor: pointer
.is-disabled
  pointer-events: none
  svg
    opacity: 0.5
hr
  background-color: grey
  margin: 0
  height: 1px
.opacity-5
  opacity: 50%
.progress-bit
  width: 3px
  border-radius: 4px
.table-border > :not(:last-child)
  border-bottom: 1px solid $grey-light
.table-border-bottom > :last-child
  border-bottom: 1px solid $grey-light
.confirmation
  white-space: nowrap
  padding: 15px 14px
  font-size: 0.875rem
  box-shadow: none
  border: 1px solid $black
  border-radius: 8px
  margin-right: 8px
  svg
    margin-right: 12px
.confirmations
  display: flex
  margin: -0.75rem -2.75rem -1.75rem -0.75rem
  overflow: auto
  -ms-overflow-style: none
  scrollbar-width: none
.confirmations::-webkit-scrollbar
    display: none

